body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.950);
    color: white;
}
a.youtube:link, a.youtube:visited {
    color: rgba(255, 0, 0, 0.75);
}
a.youtube:hover {
    color: rgb(255, 0, 0);
}
a.twitch:link, a.twitch:visited {
    color: rgba(128, 0, 128, 0.75);
}
a.twitch:hover {
    color: rgb(128, 0, 128);
}
a.palmeiras:link, a.palmeiras:visited {
    color: green;
}
a.palmeiras:hover {
    color: rgb(0, 175, 0);
}
.borderradius2 {
    border: 2px solid #42352c;
    border-radius: 100px;
}
.wrapper {
    width: 80%;
    margin: 1rem auto;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.leftheader {
    flex-basis: 46%;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 54%;
    margin-top: 2.5rem;
    padding-left: 0.5rem;
}
nav {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 1rem 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:hover {
    background-color: black;
    color: white;
}
section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.leftbar {
    flex-basis: 46%;
    border: 1px solid white;
    border-radius: 1rem;
}
.leftbar h2 {
    background-color: white;
    color: rgba(0, 0, 0, 0.950);
    padding-left: 1rem;
} 
.rightbar {
    flex-basis: 54%;
    text-indent: 1rem;
}
section div {
    margin: 1rem;
}
.leftbar ul {
    list-style-type: none;
}
.leftbar a {
    text-decoration: none;
    font-weight: bold;
}
.borderradius100px {
    border-radius: 100px;
}
article h1 {
    text-align: center;    
}
article p {
    text-indent: 1rem;
    margin: 0;
    padding: 0;
}
article {
    margin: 1rem;    
    padding: 0;
}
article a {
    text-decoration: none;
    font-weight: bold;
}